@import "tailwindcss";

@theme {
  --color-background: #F4EFEB;
  --color-text-primary: #5D8093;
  --color-accent: #2F4157;
  --color-button-text: #E2DED3;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Base styles */
body {
  @apply font-sans bg-background text-text-primary antialiased;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-semibold tracking-wider text-accent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
  border: 2px solid var(--color-background); /* Gives a nice padded look */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-primary);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-background);
}

@keyframes slow-zoom {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.15);
  }
}

/* Lenis Scroll */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes sweep {
  0% {
    transform: translateX(-150%) skewX(-25deg);
  }
  100% {
    transform: translateX(250%) skewX(-25deg);
  }
}
